@media screen and (max-width: 700px){

//Gym page
 .gym-heading{
    font-size:2rem;
}
.lead{
    font-size:1rem;
}
.btn-gym{
    padding:0.5rem;
font-size:0.9rem;
}

.gym-page{
    h1{
        font-size:3.5rem;
    }
}
//End of gym page

//Team Page
.team-text{
    font-size:3rem;
    .fa-users{
        display:none;
    }
}
//End of team page
}