@import 'utilities';
@import 'mixins';
@import 'media-queries';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Poppins:ital,wght@1,200&family=Raleway&family=Roboto+Slab:wght@300&display=swap');

*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{
    font-family:'Roboto Slab', sans-serif;
    font-size:1rem;
    line-height: 1.5;
    //color:$dark-color;
}
//The Navbar
a{
    text-decoration:none;
    color:$primary-color;
}

ul{
    list-style:none;
}

img{
    width:100%;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0.5rem 2rem;
    position:fixed;
    z-index:1;
    width: 100%;
    top:0;
    border-bottom:solid 2px $primary-color;
    opacity:0.9;
ul{
    display:flex;
}
    a{
       color:$light-color;
        padding:1rem;
        margin: 0 0.25rem;

        &:hover{
            color:$primary-color;
        }
    
}
}
//End Of Navbar



//Landing Page
.landing-page{
    position:relative;
    background: url('../images/landing\ page\ image.jpg') no-repeat center center/cover;
    height:100vh;

    &-content {
color:$light-color;
height:100%;
display:flex;
flex-direction: column;
widows: 80%;
align-items: center;
margin:auto;
justify-content: center;
text-align:center;
    }
}
//End Of Landing Page

//Gym Page
.gym-page{
    
    position:relative;
    background: url('../images/gym\ page\ background.jpg') no-repeat center center/cover;
    height:270vh;
    &-content {
        color:$light-color;
        height:100%;
        display:flex;
        flex-direction: column;
        widows: 80%;
        align-items: center;
        margin:auto;
        justify-content: center;
        text-align:center;
            }


&-content-box{
    display:grid;
    grid-template-columns: 1fr 1fr;
    color:$light-color;
 height:90%;
align-items: center;
margin:auto;
justify-content: center;
text-align:center;
img{
height:100%;
&:hover{
    transform: scale(1.03);
    transition: 0.4s;
}
}
}

}
//End of gym page



//Membership Section
.membership-section{
position:relative;
background: url('../images/membership\ page.jpg') no-repeat center center/cover;
height:120vh;
color:white;
h1{
    color:$primary-color;
}
}

.membership-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align:center;
}


//End of membership Section


//Sign up Page
.form-item{
    padding:10px;
}
.form-item > input{
    width:30%;
    height:5vh;
    
}

.form-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.credit-card-image{
    width:50%;
}

.card-number{
    width:100%;
}
.month-year{
    width:50%;
    align-items: center;
margin:auto;
justify-content: center;
text-align:center;
select{
    padding:5px;
    width:30%;
}

}
small{
    font-weight:bold;
}

//End of sign-up page

//Sign In page
.sign-in-form-item{
    padding:25px;
}
.sign-in{
    height:93vh;
}
//End of sign-in page

//Team page
.team-grid{
    background:rgb(230, 228, 228); 
    width:90%;
    align-items: center;
    margin:auto;
    justify-content: center;
    text-align:center;
    
    
}
.team-text{
    padding-top:5rem;
}

.team-lead{
    align-items: center;
    margin:auto;
    justify-content: center;
    text-align:center;
    p{
        padding:10px;
    }
    
}
.profile-card{
    padding-bottom:10px;
}



//End of team page


//Footer
.footer{
    background:$primary-color;
    color:white;
    align-items: center;
margin:auto;
justify-content: center;
text-align:center;
    height:7vh;
    padding-top:15px;
    
}
//End of Footer


//Media Queries
@media screen and (max-width: 900px){
  //navbar

  //end of navbar
   

  //membership
    .membership-section{
        position:relative;
        background: url('../images/membership\ page.jpg') no-repeat center center/cover;
        height:270vh;
        color:white;
    }
    
    .membership-grid{
        display:grid;
        grid-template-columns: 1fr;
        text-align:center;
    }
    //End of members section
    //Gym page
 .gym-heading{
    font-size:2rem;
}
.lead{
    font-size:1rem;
}
.btn-gym{
    padding:0.5rem;
font-size:0.9rem;
}

.gym-page{
    h1{
        font-size:3.5rem;
    }
}
//End of gym page


//Team Page
.team-text{
    font-size:3rem;
    .fa-users{
        display:none;
    }
}

    
    }
    
    
//End of Media Queries